<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="app.js" verb="*" modules="iisnode" />
		</handlers>
		<httpErrors errorMode="Detailed" />
		<rewrite>
			<rules>

				<rule name="mysite">
					<match url="/*" />
					<action type="Rewrite" url="app.js" />
				</rule>
				
				<rule name="remove www" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.syrian-ministry-of-culture-platform\.com$" />
                    </conditions>
                    <action type="Redirect" url="https://syrian-ministry-of-culture-platform.com/{R:1}" redirectType="Permanent" />
                </rule>
                        
				<rule name="httpTohttps" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>
				
			</rules>
		</rewrite>
	</system.webServer>
</configuration>